// follow this format

// //theme color
$primary: #000000;
// $secondary1: #1b1c1d;
// $secondary2: #2c2d30;
// $secondary3: #222222;
// $secondary4: #af1221;

// //properties
$white: #ffffff;
// $black: #000000;
// $gray: #9e9e9e;
// $green: #008000;

// //special
// $disabled: #cccccc;
// $safe: #4caf50;
// $danger: #f44336;
// $link: #4f83f2;

// $rank-1: #4ccb00;
// $rank-2: #a1eb05;
// $rank-3: #e1eb05;
// $rank-color: #c5a54b;
// $odds: #c09007;
