// //theme color
$primary: #818cf8;
$secondary: #818cf8;
$secondary_1: #f4f8fb;
$secondary_2: #4f46e5;

// //properties
$white: #ffffff;
$black: #2c2d30;
$gray: #9e9e9e;

// //special
$disabled: #cccccc;
$safe: #4caf50;
$danger: #f44336;
$link: #4f83f2;
$footer: #e7ebf2;
$highlighted_warning: #ffad00;

$bg-gradients: (
  "green": linear-gradient(green, #14401b),
  "purple": linear-gradient(#86639f, #3c2051),
  "brown": linear-gradient(#d7a135, #71551c),
  "blue": linear-gradient(#1272bb, #083455),
);
