.homepage {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: $primary;

    &__title {
      color: $white;
      font-size: to-rem(16px);
      font-weight: bold;
    }
  }
}
